section.certificates
    .container
        .certificates-block
            .certificates-imag
                img(src="img/main/tickets.png")
            .certificates-about
                h1.about-title Сертификаты в парк teleport
                p.about-sub-title Подарки должны быть крышесносными!
                p.about-text Мы поставили крест на носках с пеной для бритья и плюшевых медведях. Предлагаем сделать вам то же самое, ведь можно – лучше!
                .about-button
                    a(href='#').button-link.blue выбрать подарок
                        //svg.icon
                        //    use(href=`./img/button.svg#button`)

