script(src='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js')

sections.certificate-options
    .container
        h2.options-title варианты сертификатов
        .swiper.mySwiper(#swiperref='')
            .swiper-wrapper
                .swiper-slide
                    h3.swiper-title стандарт
                    p.swiper-text Отличный вариант для самостоятельного похода в парк
                    h4.swiper-sub-title Вы получаете
                    ul.swiper-menu
                        li.swiper-item До 8 игр на симуляторах в счастливые часы
                        li.swiper-item До 8 игр на симуляторах в счастливые часы
                    p.swiper-prise 50 BYN
                .swiper-slide
                    h3.swiper-title пара
                    p.swiper-text Подходит, если вы хотите посетить парк вдвоем
                    h4.swiper-sub-title  Вы получаете
                    ul.swiper-menu
                        li.swiper-item До 13 игр на симуляторах в счастливые часы
                        li.swiper-item До 8 игр на симуляторах по обычному тарифу
                    p.swiper-prise 80 BYN
                .swiper-slide
                    h3.swiper-title семейный
                    p.swiper-text Идеальный вариант для похода в парк всей семьей
                    h4.swiper-sub-title Вы получаете
                    ul.swiper-menu
                        li.swiper-item До 16 игр на симуляторах в счастливые часы
                        li.swiper-item До 10 игр на симуляторах по обычному тарифу
                    p.swiper-prise 100 BYN
                .swiper-slide
                    h3.swiper-title команда
                    p.swiper-text Оптимальный вариант для тех, кто планирует играть с друзьями
                    h4.swiper-sub-title Вы получаете
                    ul.swiper-menu
                        li.swiper-item До 25 игр на симуляторах в счастливые часы
                        li.swiper-item До 15 игр на симуляторах по обычному тарифу
                    p.swiper-prise 150 BYN
                .swiper-slide
                    h3.swiper-title VIP
                    p.swiper-text Клиент получает статус VIP (+10% игровых монет при пополнении карты)
                    h4.swiper-sub-title Вы получаете
                    ul.swiper-menu
                        li.swiper-item До 41 игры на симуляторах в счастливые часы
                        li.swiper-item До 25 игр на симуляторах по обычному тарифу
                    p.swiper-prise 250 BYN
                .swiper-slide
                    h3.swiper-title VIP
                    p.swiper-text Клиент получает статус VIP (+10% игровых монет при пополнении карты)
                    h4.swiper-sub-title Вы получаете
                    ul.swiper-menu
                        li.swiper-item До 41 игры на симуляторах в счастливые часы
                        li.swiper-item До 25 игр на симуляторах по обычному тарифу
                    p.swiper-prise 250 BYN
                .swiper-slide
                    h3.swiper-title VIP
                    p.swiper-text Клиент получает статус VIP (+10% игровых монет при пополнении карты)
                    h4.swiper-sub-title Вы получаете
                    ul.swiper-menu
                        li.swiper-item До 41 игры на симуляторах в счастливые часы
                        li.swiper-item До 25 игр на симуляторах по обычному тарифу
                    p.swiper-prise 250 BYN
                .swiper-slide
                    h3.swiper-title VIP
                    p.swiper-text Клиент получает статус VIP (+10% игровых монет при пополнении карты)
                    h4.swiper-sub-title Вы получаете
                    ul.swiper-menu
                        li.swiper-item До 41 игры на симуляторах в счастливые часы
                        li.swiper-item До 25 игр на симуляторах по обычному тарифу
                    p.swiper-prise 250 BYN
            svg.swiper-button-next.icon
                use(href=`./img/main/next.svg#next`)
            svg.swiper-button-prev.icon
                use(href=`./img/main/prev.svg#prev`)
            .swiper-button-next
            .swiper-button-prev
            .swiper-pagination
