section.give
    .give-block
        .give-about
            h2.give-title Дарите яркие подарки своим близким
            p.give-text Подарить путешествие в виртуальную реальность стало проще
            p.give-sub-text Вы можете приобрести электронные сертификаты в парк Teleport
